{{#each products}}
    <div class="card">
        <img src="{{img}}" alt="{{title}}">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <button>Comprar</button>
    </div>
{{/each}}
